@charset "utf-8";

html
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
	text-shadow: none;
	background-color: #E8E9EB;
	background-image: url(../imgs/bg.jpg);
	background-position:center;
	background-repeat:repeat;
	background-size:cover;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus
{
	box-shadow: none;
}

.ui-header
{
	background-color: transparent !important;
	border-color: transparent !important;
	font-weight: bold;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;
}

.ui-footer
{
	background-color: transparent !important;
	border-color: transparent !important;
	bottom: 0;
	right: 0;
	left: 0;
}

.ui-btn-left, .ui-btn-right
{
	top: 0;
	background: none !important;
	border: none;
}

.ui-mobile label, .ui-controlgroup-label, .ui-controlgroup-label legend
{
	font-size: 14px;
	font-weight: 500;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a
{
	border-color: transparent;
}

.btn
{
	text-shadow: none !important;
	box-shadow: none;
	margin: 0.35em 0;
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning
{
	color: #fff !important;
}

.btn-default, .btn-default:focus, .btn-default:hover, .btn-default.active, .btn-default:active
{
	color: inherit !important;
	background: none !important;
	border: none !important;
}

.input
{
	position: relative;
	margin: 0 1em;
	height: 80px;
}

.message
{
	width: calc(100% - 2em);
	height: 200px;
}

.message textarea
{
	border: none !important;
	resize: none !important;
	height: 150px !important;
	border-bottom: 2px solid #fff !important;
	box-shadow: none;
}

.input__field
{
	position: absolute;
	margin: 0.8em 0 !important;
	padding: 0.4em !important;
	width: 100% !important;
	border-bottom: 2px solid #fff !important;
	border-radius: 0 !important;
	background: transparent !important;
	font-weight: bold;
	-webkit-appearance: none;/* for box shadows to show on iOS */
}

.input__field:focus
{
	outline: none !important;
}

.input__label
{
	position: absolute;
	padding: 0 1em;
	margin: 1.2em 0;
	width: 100%;
	height: calc(100% - 2.4em);
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content
{
	position: relative;
	display: block;
	padding: 1.5em 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	font-weight: bold;
	font-style: italic;
}

.input__label::before,
.input__label:after
{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label::before 
{
	top: 0;
}

.input__label::after
{
	bottom: 0;
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content
{
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.input__field:focus + .input__label::before,
.input--filled .input__label::before
{
	-webkit-transform: translate3d(0, -0.5em, 0);
	transform: translate3d(0, -0.5em, 0);
}

.input__field:focus + .input__label::after,
.input--filled .input__label::after
{
	-webkit-transform: translate3d(0, 0.5em, 0);
	transform: translate3d(0, 0.5em, 0);
}

.input--filled .input__field
{
	background-color: #fff !important;
}

.nopadding
{
	padding: 0 !important;
}

.div_hribbon
{
	position: relative;
	z-index: 0;
}

.div_hribbon > .ribbon
{
	color: #fff;
	font-size: 20px !important;
	width: 75%;
	position: relative;
	text-align: center;
	padding: 0.5em;
	margin: auto;
}

.div_hribbon > .ribbon:before, .div_hribbon > .ribbon:after
{
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	border: 1.05em solid #d9534f;
	z-index: 0;
}

.div_hribbon > .ribbon:before
{
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
}

.div_hribbon > .ribbon:after
{
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
}

.div_hlogo
{
	margin-top: 10px;
}

.div_hlogo > img
{
	width: 40%;
}

.div_flogo
{
	margin-bottom: 15px;
}

.div_flogo > img
{
	width: 70%;
}

.div_statuses
{
	margin-top: 10px;
}

.div_status span
{
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

#status_p, #status_c, #status_t
{
	color: #fff;
	line-height: 2em;
	font-weight: bold;
}

/*.bg-completed, .bg-qouted, .bg-qouted_ap, .bg-in_prog
{
	font-weight: bold;
	color: #fff;
}

a.bg-qouted
{
	font-size: 12px;
	display: inline;
}*/

.job_details
{
	font-weight: bold;
	color: #fff;
}

a.job_details
{
	font-size: 12px;
	display: inline;
}

.job_table
{
	background-color: #F2F2F2;
	border: none;
}

.job_table tr, .job_table th, .job_table td
{
	border: none !important;
	font-size: 14px;
}

.job_table td.description
{
	text-align: justify;
}

.job_table td.price
{
	font-size: 16px;
	vertical-align:top;
}

.has_time
{
	font-size: 10px;
}

.ui-btn.ui-checkbox-off, .ui-btn.ui-checkbox-on, .ui-btn.ui-checkbox-off:hover, .ui-btn.ui-checkbox-on:hover, .ui-btn.ui-checkbox-off:active, .ui-btn.ui-checkbox-on:active
{
	background-color: transparent;
	border-color: transparent;
}

.ui-btn.ui-checkbox-off::after, .ui-btn.ui-radio-off::after, .ui-btn.ui-checkbox-on::after, .ui-btn.ui-radio-on::after
{
	opacity: 1;
}

#si_remember
{
	display: none;
}
